@use '../GlobalStyles/variable' as var;
@use 'sass:math';
@mixin flexCenter($center: false) {
  display: flex;
  align-items: center;
  @if ($center) {
    justify-content: center;
  }
}

@mixin font-style($size) {
  @if ($size == small) {
    font-size: var.$font-small;
    font-weight: var.$font-weight-small;
  }

  @if ($size == medium) {
    font-size: var.$font-medium;
    font-weight: var.$font-weight-medium;
  }

  @if ($size == big) {
    font-size: var.$font-big;
    font-weight: var.$font-weight-big;
  }
}

@mixin onDispay() {
  @keyframes onDisplay {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  animation: onDisplay 0.5s ease-in-out;
}
