html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #08090a;
  color: white;
}

button {
  border: none;
}

li {
  list-style: none;
}
a,
button,
li {
  user-select: none;
}

a {
  list-style: none;
  text-decoration: none;
  color: inherit;
}
