// style text
$font-small: 1.8rem;
$font-medium: 4rem;
$font-big: 6rem;
$font-weight-small: 400;
$font-weight-medium: 600;
$font-weight-big: 900;
// text color
$color-title: white;
$color-text: #8a8f98;
// bg color
$color-bg-primary: #08090a;
$color-bg-text: #272829;

//height style
$header-height: 55px;
