@use '../../../GlobalStyles/mixin' as *;
@use '../../../GlobalStyles/variable' as *;
.watch-health-wrapper {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  width: 75%;
  height: 75%;
  border-radius: 50%;
}
