@use '../../GlobalStyles/mixin' as *;
@use '../../GlobalStyles/variable' as *;
.homePage {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(499px, 1fr));
  gap: 1.6rem;
  justify-content: center;
  align-items: center;
  padding: 10rem 5rem;
}
