@use '../../../../GlobalStyles/mixin' as *;
@use '../../../../GlobalStyles/variable' as *;
.heartRate__timer {
  width: 100%;
  height: 2rem;
  @include flexCenter();
  p {
    color: $color-text;
    margin: 0 auto;
    font-weight: $font-weight-big;
    font-size: 1.4rem;
  }
}
