@use '../../../../GlobalStyles/mixin' as *;
@use '../../../../GlobalStyles/variable' as *;

// background: linear-gradient(
//     135deg,
//     #ffa629,
//     #f47cc3,
//     #8a4fff,
//     #7ec9f9,
//     #70d3e4
//   );
.health__displayDate {
  @include flexCenter(true);
  height: 10rem;
  width: 85%;
  border-radius: 20rem;
  gap: 2rem;
  background: linear-gradient(
    135deg,
    rgba(255, 166, 41, 0.2),
    rgba(244, 124, 195, 0.2),
    rgba(138, 79, 255, 0.2),
    rgba(126, 201, 249, 0.2),
    rgba(112, 211, 228, 0.2)
  );
  border: 0.2rem solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 1rem rgba(255, 255, 255, 0.5);
  margin: 0 auto;
  padding: 0 1rem;
  .displayDate__fullDate {
    text-align: end;
    font-size: 2.8rem;
    line-height: 0.2rem;
    font-weight: $font-weight-big;
    background: linear-gradient(
      135deg,
      #ffa629,
      #f47cc3,
      #8a4fff,
      #7ec9f9,
      #70d3e4
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .displayDate__time {
    height: 10rem;
    font-size: 4.5rem;
    @include flexCenter(true);
    background: linear-gradient(
      135deg,
      #ffa629,
      #f47cc3,
      #8a4fff,
      #7ec9f9,
      #70d3e4
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all linear 1.2s;
  }
  .displayDate__circle {
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    background: linear-gradient(
      0deg,
      #ffa629,
      #f47cc3,
      #8a4fff,
      #7ec9f9,
      #70d3e4
    );
    background-size: 300% 300%;
    border: 0.2rem solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);

    animation: rotates 10s infinite linear;
    @keyframes rotates {
      0% {
        transform: rotate(0deg);
        background-position: 0% 50%;
        opacity: 1;
      }
      25% {
        transform: rotate(90deg);
        background-position: 50% 50%;
        opacity: 0.9;
      }
      50% {
        transform: rotate(180deg);
        background-position: 100% 50%;
        opacity: 0.8;
      }
      75% {
        transform: rotate(270deg);
        background-position: 50% 100%;
        opacity: 0.7;
      }
      100% {
        transform: rotate(360deg);
        background-position: 0% 50%;
        opacity: 1;
      }
    }
  }
}
