@use '../../../../GlobalStyles/mixin' as *;
@use '../../../../GlobalStyles/variable' as *;
.heartRate-timer {
  width: 100%;
  height: 2rem;
  @include flexCenter();
  p {
    color: $color-text;
    margin: 0 auto;
  }
}
