@use '../../../../GlobalStyles/mixin' as *;
@use '../../../../GlobalStyles/variable' as *;
.watch-health {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  width: 90%;
  height: 75%;
  border-radius: 50%;
}
