@use '../../../../GlobalStyles/mixin' as *;
@use '../../../../GlobalStyles/variable' as *;
.watch-dots-inside-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  transform: rotate(46deg);
  > div {
    position: absolute;
    inset: 4.2rem;
    display: flex;
    align-items: center;
    span {
      width: 0.8rem;
      height: 0.3rem;
      background-color: $color-text;
      display: block;
      border-radius: 0.1rem;
      opacity: 0;
    }
    .dot-active {
      animation: backgoundActive linear 1s forwards;
      @keyframes backgoundActive {
        0% {
          opacity: 1;
        }

        50% {
          opacity: 1;
        }
        100% {
          opacity: 1;
        }
      }
    }
    .dot-not-active {
      animation: backroundNotActive linear 0.5s forwards;
      @keyframes backroundNotActive {
        0% {
          opacity: 1;
        }
        25% {
          opacity: 0;
        }
        50% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }
    }
  }
}
