@use '../../GlobalStyles/mixin' as *;
@use '../../GlobalStyles/variable' as *;

.header {
  @include flexCenter();
  justify-content: space-around;
  gap: 1rem;
  width: 100%;
  height: $header-height;
  position: fixed;
  color: $color-text;
  z-index: 9999;
  .logo {
    font-size: 4rem;
    user-select: none;
    cursor: pointer;
    font-weight: 600;
  }

  .nav {
    ul {
      @include flexCenter(true);
      gap: 2rem;
    }
    li {
      cursor: pointer;
      @include flexCenter(true);
      &:hover {
        transition: 0.3s ease-out;
        color: $color-title;
      }
      a {
        font-size: 2rem;
        font-weight: 500;
        cursor: pointer;
        padding: 0.5rem;
      }
    }
  }
}

.header-srollY {
}
